{
    "presets": [
        "env",
        "stage-2"
    ],
    "plugins": [
        "transform-vue-jsx",
        "transform-runtime", ["module-resolver",
        {
            "root": ["./client/src"],
            "alias":
            {
                "@components": "./client/src/components",
                "@pages": "./client/src/pages"
            }
        }]
    ]
}